.fancy_list {
  list-style: none;
  /*margin: 10px 0 0 0;*/
}

.fancy_list li {
    padding: 10px 0;
    border-top: 1px solid #afafaf;
    margin-bottom:0;
    font-family:"Arial Narrow";
    /*height: 100px;*/
}

.fancy_list li:last-child {
    border-bottom: 1px solid #afafaf;
}

/*.fancy_list li div {
	position: absolute;
}
*/
.item {
	background-color:#00FF00;
}
