body {
	background:#000000;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

.span5 {
	width: 1000px;
}

.increase_button {
	
}

.user_info_field {
	margin: 1em 1em 1em 1em;
	width: 160px;
}

.focal_pane {
	width: 700px;
	color: #DDDDDD;
	margin-left: auto;
	margin-right: auto;
}

.right_bar {
	width: 190px;
	float: right;
	background:#333333;
	color: #DDDDDD;
}

.selectable_list {
	margin: 1em 1em 0 1em;
	width: 90%;
}

.left_bar {
	width: 190px;
	float: left;
	background:#333333;
	color: #DDDDDD;
}